/* ALL MEDIA QUERIES */
/* please note they're a bit out of order -- will edit */

/*student single page*/
@media (max-width: 785px) {
	
	.module-page.wp-block-columns {
		flex-wrap: wrap;
	}
	
	.module-page .wp-block-column:first-child {
		flex-basis: 100%;
		flex-grow: 0;
		margin: 0;
	}
	
	.module-page .wp-block-column:last-child {
		flex-basis: 100%;
		flex-grow: 0;
		margin: 20px 0 0 0;
		padding: 0;
	}
	
	.visit-module {
		text-align: left;
		position: absolute;
		margin-block-start: 0.5em;
	}
	
	.module-page .back-module-link, 
	.module-page .next-module-link {
		margin: 0;
	}
	
	.back-module-link a:hover::after,
	.next-module-link a:hover::after {
		margin-left: 5px;
	}
	
	.back-module-link a::before {
		margin-right: 5px;
		content: "\f177";
    	font-family: FontAwesome;
	}
	
	.back-module-link a::after {
		content: "";
	}
	
}

/*footer*/
@media (max-width: 700px) and (min-width: 600px) {
	
	footer {
		font-size: 0.8em;
	}
	
}

@media (max-width: 599px) {
	
	footer {
		width: calc(100% - 60px);
		padding: 30px;
	}
	
	.footerleft {
		position: relative;
		text-align: center;
	}
	
	.footerright {
		margin: 10px 0 0 0;
		text-align: center;
	}
	
}

@media (max-width: 599px) and (min-width: 400px) {
	
	footer {
		font-size: 0.8em;
	}
	
}

@media (max-width: 399px) {
	
	footer {
		font-size: 0.65em;
		font-weight: 400;
	}
	
	.footerright {
		margin: 5px 0 0 0;
	}
	
}

/* STUDENT RESOURCES */
@media (max-width: 1350px) and (min-width: 951px) {
	
	.modules h3 {
		font-size: 1.2em;
	}
    
    .module-caption.wp-block-columns {
        display: flex;
		flex-wrap: wrap;
    }
	
	.module-caption .wp-block-column:first-child {
		flex-basis: 100%;
        margin-right: 0;
		border: none;
		font-size: 0.88em;
    }
    
    .module-caption .wp-block-column:last-child {
		flex-basis: 100%;
        margin: 7px 0 0 0;
		font-size: 0.95em;
    }
    
}

@media (max-width: 950px) and (min-width: 750px) {
	
	.modules.wp-block-columns {
		display: flex;
		flex-wrap: wrap;
	}
	
	.modules .wp-block-column {
		flex-basis: 100%;
		flex-grow: 0;
		margin: 40px 0;
	}
	
	.modules .wp-block-column:not(:first-child) {
		margin-left: 0;
	}
	
	.modules .wp-block-column:not(:last-child) {
		margin-right: 0;
	}
	
	.modules .one-module {
		width: 45%;
		position: absolute;
	}
	
	.modules .wp-block-column h3, .modules .instructor-info {
		width: calc(55% - 15px);
		margin: 0 0 0 calc(45% + 15px);
		
	}
	
	.modules .instructor-info {
		margin-top: 15px;
	}
	
	.modules .module-caption {
		width: calc(55% - 15px);
		margin-left: calc(45% + 15px);
	}
	
	.module-caption.wp-block-columns {
        display: flex;
		flex-wrap: wrap;
    }
	
	.module-caption .wp-block-column:first-child {
		flex-basis: 100%;
        margin-right: 0;
		border: none;
		font-size: 0.88em;
    }
    
    .module-caption .wp-block-column:last-child {
		flex-basis: 100%;
        margin: 7px 0 0 0;
		font-size: 0.95em;
    }
	
}

@media (max-width: 749px) {
	
	.modules .wp-block-column {
		flex-basis: 100%;
		flex-grow: 0;
		margin: 10px 0 40px 0;
	}
	
	.modules .wp-block-column:not(:first-child) {
		margin-left: 0;
	}
	
	.modules .wp-block-column:not(:last-child) {
		margin-right: 0;
	}
	
	/*student resources*/
	
	.module-caption.wp-block-columns {
        display: flex;
		flex-wrap: wrap;
    }
	
	.module-caption .wp-block-column:first-child {
		flex-basis: 100%;
        margin-right: 0;
		border: none;
    }
    
    .module-caption .wp-block-column:last-child {
		flex-basis: 100%;
        margin: 10px 0 0 0;
    }
	
	/*instructor resources*/
	.modules .instructor-info {
		margin-top: 10px;
	}
	
}


@media (max-width: 600px) {
	
	.modules .wp-block-column:not(:first-child) {
		margin-left: 0;
	}
	
	.modules .wp-block-column:not(:last-child) {
		margin-right: 0;
	}
	
	.module-caption .wp-block-column:first-child {
		border: none;
	}
	
}

@media (min-width: 600px) and (max-width: 679px) {
    
    .modules .wp-block-column h3 {
        font-size: 1.2em;
    }
    
}

@media (min-width: 500px) and (max-width: 599px) {
    
    .modules h3 {
        font-size: 1.1em;
    }
	
	.module-caption {
		margin: 5px 0 0 0;
	}
	
	.modules .instructor-info {
		margin: 5px 0 0 0;
	}
    
}

@media (min-width: 415px) and (max-width: 499px) {
    
    .modules h3 {
        font-size: 1.0em;
		margin: 1.0em 0 0.15em 0;
    }
	
	.module-caption {
		margin: 0;
	}
	
    
}

@media (min-width: 340px) and (max-width: 414px) {
    
    .modules h3 {
        font-size: 0.95em;
		margin: 1.0em 0 0 0;
    }
	
	.module-caption {
		margin: 0;
	}
}

@media (min-width: 320px) and (max-width: 339px) {
    
    .modules h3 {
        font-size: 0.95em;
		margin: 1.0em 0 0 0;
    }
	
	.module-caption {
		margin: 0;
	}
}


/*smth else*/
@media (max-width: 880px) {
    
    .module-page-cover.wp-block-columns {
        flex-wrap: wrap;
    }
    
    .module-page-cover .wp-block-column:first-child {
        flex-basis: 100%;
    }
    
    .module-page-cover .wp-block-column:last-child {
        flex-basis: 100%;
        margin-left: 0;
    }
    
    .instructor-single-mod.wp-block-columns {
        flex-wrap: wrap;
    }
    
    .instructor-single-mod .wp-block-column:first-child {
        flex-basis: 100%;
        margin-right: 0;
        margin-top: 30px;
        flex-grow: 1;
    }
    
    .instructor-single-mod .wp-block-column:last-child {
        flex-basis: 100%;
        margin-left: 0;
        margin-top: 30px;
        flex-grow: 1;
    }
    
}


/*FRONT PAGE AND HEADER*/

@media (min-width: 1200px) {
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 260px;
    }
    
    .modules .main-page-image,
	.modules .main-page-image img {
        height: 240px;
    }

}

@media (min-width: 1060px) and (max-width: 1120px) {
    
    
    
}

@media (min-width: 1045px) and (max-width: 1059px) {
	
	.directory {
		font-size: 0.9em;
	}
    
    .main-page .wp-block-column:first-child {
        margin-right: 35px;
    }
    
    .main-page .wp-block-column:last-child {
        margin-left: 35px;
    }
	
	.main-page .main-page-image,
	.main-page .main-page-image img {
        height: 240px;
    }
    
    .main-page h2 {
        padding-top: 0.5em;
    }
    
    .main-page p {
        padding-top: 0.5em;
    }
    
}

@media (min-width: 956px) and (max-width: 1000px) {
    
    .wrap p {
        font-size: 1.05em;
    }
    
    .wrap h1 {
        font-size: 1.85em;
    }
	
	.wrap h2 {
		font-size: 1.35em;
	}
    
    .headerinfo img {
        height: 75px;
        margin: -10px 32px 20px 0px;
    }
    
    .headertitle {
        font-size: 3.0em;
    }
    
    nav {
        margin-top: 40px;
        font-size: 0.95em;
    }
    
}

@media (min-width: 916px) and (max-width: 955px) {
    
    #header {
        min-height: 140px;
    }
    
    .headerinfo img {
        height: 70px;
        margin: -10px 32px 20px 0px;
    }
    
    .headertitle {
        font-size: 2.75em;
    }
    
    nav {
        font-size: 0.9em;
    }
    
}

@media (min-width: 875px) and (max-width: 915px) {
    
    .wrap p {
        font-size: 1.05em;
    }
    
    .wrap h1 {
        font-size: 1.85em;
    }
	
	.wrap h2 {
		font-size: 1.35em;
	}
    
    #header {
        min-height: 130px;
    }
    
    .headerinfo img {
        height: 65px;
        margin: -9px 32px 20px 0px;
    }
    
    .headertitle {
        font-size: 2.5em;
    }
    
    nav {
        margin-top: 30px;
        font-size: 0.85em;
    }
    
}

@media (min-width: 781px) and (max-width: 874px) {
    
    .wrap p {
        font-size: 1.05em;
    }
    
    .wrap h1 {
        font-size: 1.85em;
    }
	
	.wrap h2 {
		font-size: 1.5em;
	}
    
    #header {
        min-height: 60px;
        padding: 60px 40px 40px 40px;
    }
    
    .headerinfo img {
        height: 60px;
        margin: -10px 32px 20px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 220px);
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 2.5em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        display: initial;
    }
    
    .wrap {
        min-height: calc(100% - 400px);
    }
    
}

@media (max-width: 874px) {
    
    .header-menu-class .menu-item a {
        border-bottom: none;
    }
    
    .header-menu-class .menu-item a:hover {
        border-bottom: none;
        color: #7ba4d9;
    }
	
	.header-menu-class #searchform {
		margin: 0;
	}
    
}

@media (min-width: 874px) {
	
	#menu-header-menu {
		display: initial !important;
	}
	
}

@media (min-width: 550px) and (max-width: 874px) {
	
	.header-menu-class {
		margin: 10px 0;
	}
    
    #menu-header-menu {
        text-align: right;
        font-size: 0.8em;
        line-height: 1.55em;
        padding: 20px 40px;
        position: absolute;
        right: 0;
        width: calc(35% - 80px);
        background: #002a5c;
        z-index: 2;
        display: none;
    }
    
    #menu-header-menu li {
        display: block;
        margin: 10px 0;
    }
    
}

@media (min-width: 455px) and (max-width: 549px) {
    
	.header-menu-class {
		margin: 10px 0;
	}
	
    #menu-header-menu {
        text-align: right;
        font-size: 0.75em;
        line-height: 1.45em;
        padding: 20px 30px;
        position: absolute;
        right: 0;
        width: calc(35% - 60px);
        background: #002a5c;
        z-index: 2;
        display: none;
    }
    
    #menu-header-menu li {
        display: block;
        margin: 7px 0;
    }
    
}

@media (min-width: 350px) and (max-width: 454px) {
	
	.header-menu-class {
		margin: 10px 0;
	}
    
    #menu-header-menu {
        text-align: right;
        font-size: 0.75em;
        line-height: 1.45em;
        padding: 20px 30px;
        position: absolute;
        right: 0;
        width: calc(45% - 60px);
        background: #002a5c;
        z-index: 2;
        display: none;
    }
    
    #menu-header-menu li {
        display: block;
        margin: 7px 0;
    }
    
}

@media (min-width: 320px) and (max-width: 349px) {
	
	.header-menu-class {
		margin: 10px 0;
	}
    
    #menu-header-menu {
        text-align: right;
        font-size: 0.7em;
        line-height: 1.45em;
        padding: 20px 30px;
        position: absolute;
        right: 0;
        width: calc(55% - 60px);
        background: #002a5c;
        z-index: 2;
        display: none;
    }
    
    #menu-header-menu li {
        display: block;
        margin: 7px 0;
    }
    
}

@media (max-width: 1046px) {
	
	 .back-module-link a, .next-module-link a {
        font-size: 0.75em;
    }
	
}

@media (max-width: 1046px) and (min-width: 781px) {
	
	.wrap .directory {
		font-size: 0.9em;
	}
	
}

@media (max-width: 780px) and (min-width: 451px) {
	
	.wrap .directory {
		font-size: 0.8em;
	}
	
}

@media (max-width: 450px) {
	
	.wrap .directory {
		font-size: 0.7em;
	}
	
}

@media (min-width: 972px) and (max-width: 1046px) {
    
    .wrap p {
        font-size: 1.05em;
    }
    
    .wrap h1 {
        font-size: 1.85em;
    }
	
	.wrap h2 {
		font-size: 1.35em;
	}
    
    .wrap {
        width: calc(100% - 120px);
        padding: 0 60px;
    }
    
    .main-page .wp-block-column:first-child {
        margin-right: 35px;
    }
    
    .main-page .wp-block-column:last-child {
        margin-left: 35px;
    }
	
	.main-page .main-page-image,
	.main-page .main-page-image img {
        height: 220px;
    }
    
    .main-page h2 {
        padding-top: 0.5em;
    }
    
    .main-page p {
        padding-top: 0.5em;
    }
    
}

@media (min-width: 900px) and (max-width: 971px) {
    
    .back-module-link a, .next-module-link a {
        font-size: 0.75em;
    }
    
    .wrap p, .wrap li {
        font-size: 1.05em;
    }
    
    .wrap h1 {
        font-size: 1.85em;
    }
	
	.wrap h2 {
		font-size: 1.35em;
	}
    
    .wrap {
        width: calc(100% - 120px);
        padding: 0 60px;
    }
    
    .main-page .wp-block-column:first-child {
        margin-right: 35px;
    }
    
    .main-page .wp-block-column:last-child {
        margin-left: 35px;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 220px;
    }
    
    .main-page h2 {
        font-size: 1.40em;
        padding-top: 0.5em;
    }
    
    .main-page p {
        padding-top: 0.5em;
        font-size: 1.0em;
    }
    
}

@media (min-width: 815px) and (max-width: 899px) {
    
    .back-module-link a, .next-module-link a {
        font-size: 0.75em;
    }
    
    .wrap p, .wrap li {
        font-size: 1.05em;
    }
    
    .wrap h1 {
        font-size: 1.85em;
    }
	
	.wrap h2 {
		font-size: 1.35em;
	}
    
    .wrap {
        width: calc(100% - 120px);
        padding: 0 60px;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 200px;
    }
    
    .main-page h2, .main-page p {
        padding: 0 7px;
    }
    
    .main-page h2 {
        font-size: 1.30em;
        padding-top: 0.5em;
    }
    
    .main-page p {
        padding-top: 0.5em;
        font-size: 0.9em;
        line-height: 1.55em;
    }
    
}

@media (min-width: 781px) and (max-width: 814px) {
    
    .wrap p, .wrap li {
        font-size: 1.05em;
    }
    
    .wrap h1 {
        font-size: 1.85em;
    }
	
	.wrap h2 {
		font-size: 1.35em;
	}
	
	.wrap ul {
		margin-block-start: 0.5em;
	}
    
    .wrap {
        width: calc(100% - 120px);
        padding: 0 60px;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 190px;
    }
    
    .main-page h2, .main-page p {
        padding: 0 7px;
    }
    
    .main-page h2 {
        font-size: 1.30em;
        padding-top: 0.5em;
    }
    
    .main-page p {
        padding-top: 0.5em;
        font-size: 0.9em;
        line-height: 1.55em;
    }
    
}

@media (min-width: 685px) and (max-width: 780px) {
    
    .wrap p, .wrap li {
        font-size: 1.05em;
    }
    
    .wrap h1 {
        font-size: 1.85em;
    }
	
	.wrap h2 {
		font-size: 1.35em;
	}
	
	.wrap ul {
		margin-block-start: 0;
	}
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 260px;
    }
    
}

@media (max-width: 780px) {
    
    .main-page .wp-block-column {
        flex-basis: 100%;
    }
    
    .main-page .wp-block-column:first-child {
        margin: 15px 0 50px 0;
    }
    
    .main-page .wp-block-column:last-child {
        margin-left: 0;
    }
    
}

@media (min-width: 730px) and (max-width: 780px) {
    
    #header {
        min-height: 60px;
        padding: 60px 40px 40px 40px;
    }
    
    .headerinfo img {
        height: 60px;
        margin: -10px 32px 20px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 220px);
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 2.5em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        display: initial;
    }
    
    .wrap {
        min-height: calc(100% - 400px);
    }
    
}

@media (min-width: 685px) and (max-width: 729px) {
    
    #header {
        min-height: 60px;
        padding: 60px 40px 40px 40px;
    }
    
    .headerinfo img {
        height: 60px;
        margin: -10px 32px 20px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 220px);
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 2.25em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        display: initial;
    }
    
    .wrap {
        min-height: calc(100% - 400px);
    }
    
}

@media (min-width: 648px) and (max-width: 684px) {
    
    .wrap p, .wrap li {
        font-size: 0.95em;
    }
    
    .wrap h1 {
        font-size: 1.55em;
    }
	
	.wrap h2 {
		font-size: 1.2em;
		margin: 1.75em 0 0.25em 0;
	}
	
	.wrap h3 {
		font-size: 0.85em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
	}
    
    #header {
        min-height: 60px;
        padding: 60px 40px 40px 40px;
    }
    
    .headerinfo img {
        height: 50px;
        margin: -5px 32px 20px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 220px);
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 2.0em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        top: 55px;
        display: initial;
    }
    
    .wrap {
        min-height: calc(100% - 400px);
    }
    
}

@media (max-width: 648px) {
	.header-menu-class #searchform input {
		width: 80px;
	}
}

@media (min-width: 648px) and (max-width: 684px) {
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 260px;
    }
    
}

@media (min-width: 610px) and (max-width: 647px) {
    
    .wrap p, .wrap li {
        font-size: 0.95em;
    }
    
    .wrap h1 {
        font-size: 1.55em;
    }
	
	.wrap h2 {
		font-size: 1.2em;
	}
	
	.wrap h3 {
		font-size: 0.85em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
	}
    
    #header {
        min-height: 60px;
        padding: 60px 40px 40px 40px;
    }
    
    .headerinfo img {
        height: 50px;
        margin: -5px 32px 20px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 220px);
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 2.0em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        top: 55px;
        display: initial;
    }
    
    .wrap {
        min-height: calc(100% - 400px);
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 240px;
    }
    
}

@media (min-width: 575px) and (max-width: 609px) {
    
    .wrap p, .wrap li {
        font-size: 0.9em;
    }
    
    .wrap h1 {
        font-size: 1.5em;
    }
	
	.wrap h2 {
		font-size: 1.175em;
	}
	
	.wrap h3 {
		font-size: 0.85em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
	}
    
    #header {
        min-height: 60px;
        padding: 55px 40px 35px 40px;
    }
    
    .headerinfo img {
        height: 45px;
        margin: -7px 32px 20px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 220px);
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 2.0em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        top: 50px;
        display: initial;
    }
    
    .wrap {
        min-height: calc(100% - 400px);
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 220px;
    }
    
    .main-page h2 {
        font-size: 1.4em;
    }
    
    .main-page p {
        font-size: 0.98em;
    }
    
}

@media (min-width: 535px) and (max-width: 574px) {
    
    .wrap p, .wrap li {
        font-size: 0.9em;
    }
    
    .wrap h1 {
        font-size: 1.5em;
    }
	
	.wrap h2 {
		font-size: 1.175em;
	}
	
	.wrap h3 {
		font-size: 0.85em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
	}
    
    #header {
        min-height: 60px;
        padding: 55px 40px 35px 40px;
    }
    
    .headerinfo img {
        height: 45px;
        margin: 7px 32px 0px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 220px);
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 2.0em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        top: 65px;
        display: initial;
    }
    
    .wrap {
        width: calc(100% - 120px);
        padding: 0 60px;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 220px;
    }
    
    .main-page h2 {
        font-size: 1.4em;
    }
    
    .main-page p {
        font-size: 0.98em;
    }
    
}

@media (min-width: 495px) and (max-width: 535px) {
    
    .wrap p, .wrap li {
        font-size: 0.9em;
    }
    
    .wrap h1 {
        font-size: 1.5em;
    }
	
	.wrap h2 {
		font-size: 1.175em;
	}
	
	.wrap h3 {
		font-size: 0.85em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
	}
    
    #header {
        min-height: 60px;
        padding: 55px 40px 35px 40px;
    }
    
    .headerinfo img {
        height: 45px;
        margin: 7px 32px 0px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 220px);
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 2.0em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        top: 65px;
        display: initial;
    }
    
    .wrap {
        width: calc(100% - 120px);
        padding: 0 60px;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 200px;
    }
    
    .main-page h2 {
        font-size: 1.4em;
        padding-top: 0.5em;
    }
    
    .main-page p {
        font-size: 0.98em;
        padding-top: 0.5em;
    }
    
}

@media (min-width: 475px) and (max-width: 494px) {
    
    .wrap p, .wrap li {
        font-size: 0.9em;
    }
    
    .wrap h1 {
        font-size: 1.5em;
    }
	
	.wrap h2 {
		font-size: 1.175em;
	}
	
	.wrap h3 {
		font-size: 0.85em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
	}
    
    #header {
        min-height: 60px;
        padding: 55px 40px 35px 40px;
    }
    
    .headerinfo img {
        height: 45px;
        margin: 7px 32px 0px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 220px);
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 2.0em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        top: 65px;
        display: initial;
    }
    
    .wrap {
        width: calc(100% - 120px);
        padding: 0 60px;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 190px;
    }
    
    .main-page h2 {
        font-size: 1.4em;
        padding-top: 0.5em;
    }
    
    .main-page p {
        font-size: 0.98em;
        padding-top: 0.5em;
    }
    
}

@media (min-width: 460px) and (max-width: 474px) {
    
    .wrap p, .wrap li {
        font-size: 0.9em;
        line-height: 1.59em;
    }
    
    .wrap h1 {
        font-size: 1.5em;
    }
	
	.wrap h2 {
		font-size: 1.175em;
	}
	
	.wrap h3 {
		font-size: 0.85em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
	}
    
    #header {
        min-height: 60px;
        padding: 55px 40px 35px 40px;
    }
    
    .headerinfo img {
        height: 45px;
        margin: 7px 32px 0px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 220px);
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 2.0em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        top: 65px;
        display: initial;
    }
    
    .wrap {
        width: calc(100% - 100px);
        padding: 0 50px;
        margin: 50px 0;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 170px;
    }
    
    .main-page h2 {
        font-size: 1.40em;
        padding-top: 0.5em;
    }
    
    .main-page p {
        padding-top: 0.5em;
        font-size: 1.0em;
    }
    
}

@media (max-width: 430px) {
	
	.visit-module {
		position: relative;
	}
	
	.back-module-link, .next-module-link {
		display: inline-flex;
		margin-bottom: -1.0em;
		margin-block-end: 0;
	}
	
	.back-module-link {
		margin-right: 1.0em;
	}
	
	.next-module-link {
		margin-left: 1.0em;
	}
	
}

@media (min-width: 420px) and (max-width: 459px) {
    
    .wrap p, .wrap li {
        font-size: 0.9em;
        line-height: 1.59em;
    }
    
    .wrap h1 {
        font-size: 1.5em;
    }
	
	.wrap h2 {
		font-size: 1.175em;
	}
	
	.wrap h3 {
		font-size: 0.85em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
	}
    
    #header {
        min-height: 60px;
        padding: 55px 40px 35px 40px;
    }
    
    .headerinfo img {
        height: 45px;
        margin: 7px 32px 0px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 220px);
        margin: 0 0 0 70px;
        padding: 0;
        font-size: 2.0em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        top: 65px;
        display: initial;
    }
    
    .wrap {
        width: calc(100% - 100px);
        padding: 0 50px;
        margin: 50px 0;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 160px;
    }
    
    .main-page h2, .main-page p {
        padding: 0 7px;
    }
    
    .main-page h2 {
        font-size: 1.30em;
        padding-top: 0.5em;
    }
    
    .main-page p {
        padding-top: 0.5em;
        font-size: 0.9em;
        line-height: 1.55em;
    }
    
}

@media (min-width: 405px) and (max-width: 419px) {
    
    .wrap p, .wrap li {
        font-size: 0.8em;
        line-height: 1.58em;
    }
    
    .wrap h1 {
        font-size: 1.4em;
    }
	
	.wrap h2 {
		font-size: 1.1em;
	}
	
	.wrap h3 {
		font-size: 0.85em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
		padding-inline-start: 30px;
	}
	
	ul.ppt-file-list, 
	ul.video-file-list {
		margin-left: 0;
		padding-inline-start: 5px;
	}
    
    #header {
        min-height: 60px;
        padding: 30px;
    }
    
    .headerinfo img {
        position: absolute;
        height: 45px;
        top: 25px;
        margin: 0 32px 20px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 80px);
        margin: 80px 0 0 0;
        padding: 0;
        font-size: 1.7em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        top: 20px;
        right: 20px;
        display: initial;
    }
    
    .wrap {
        width: calc(100% - 100px);
        padding: 0 50px;
        margin: 50px 0;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 150px;
    }
    
    .main-page h2, .main-page p {
        padding: 0 7px;
    }
    
    .main-page h2 {
        font-size: 1.30em;
        padding-top: 0.5em;
    }
    
    .main-page p {
        padding-top: 0.5em;
        font-size: 0.9em;
        line-height: 1.55em;
    }
    
}

@media (min-width: 380px) and (max-width: 404px) {
    
    .wrap p, .wrap li {
        font-size: 0.8em;
        line-height: 1.58em;
    }
    
    .wrap h1 {
        font-size: 1.4em;
    }
	
	.wrap h2 {
		font-size: 1.1em;
	}
	
	.wrap h3 {
		font-size: 0.8em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
		padding-inline-start: 30px;
	}
	
	ul.ppt-file-list, 
	ul.video-file-list {
		margin-left: 0;
		padding-inline-start: 5px;
	}
    
    #header {
        min-height: 60px;
        padding: 30px;
    }
    
    .headerinfo img {
        position: absolute;
        height: 45px;
        top: 25px;
        margin: 0 32px 20px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 80px);
        margin: 80px 0 0 0;
        padding: 0;
        font-size: 1.7em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        top: 20px;
        right: 20px;
        display: initial;
    }
    
    .wrap {
        width: calc(100% - 100px);
        padding: 0 50px;
        margin: 50px 0;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 140px;
    }
    
    .main-page h2, .main-page p {
        padding: 0 7px;
    }
    
    .main-page h2 {
        font-size: 1.20em;
        padding-top: 0.5em;
    }
    
    .main-page p {
        padding-top: 0.5em;
        font-size: 0.875em;
        line-height: 1.45em;
    }
    
}

@media (min-width: 345px) and (max-width: 379px) {
    
    .wrap p, .wrap li {
        font-size: 0.8em;
        line-height: 1.58em;
    }
    
    .wrap h1 {
        font-size: 1.4em;
    }
	
	.wrap h2 {
		font-size: 1.1em;
	}
	
	.wrap h3 {
		font-size: 0.8em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
		padding-inline-start: 30px;
	}
	
	ul.ppt-file-list, 
	ul.video-file-list {
		margin-left: 0;
		padding-inline-start: 5px;
	}
    
    #header {
        min-height: 60px;
        padding: 30px;
    }
    
    .headerinfo img {
        position: absolute;
        height: 45px;
        top: 25px;
        margin: 0 32px 20px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 80px);
        margin: 80px 0 0 0;
        padding: 0;
        font-size: 1.7em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    
    a.header-nav-title {
        top: 20px;
        right: 20px;
        display: initial;
    }
    
    .wrap {
        width: calc(100% - 100px);
        padding: 0 50px;
        margin: 50px 0;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 130px;
    }
    
    .main-page h2, .main-page p {
        padding: 0 5px;
    }
    
    .main-page h2 {
        font-size: 1.20em;
        padding-top: 0.5em;
    }
    
    .main-page p {
        padding-top: 0.5em;
        font-size: 0.875em;
        line-height: 1.45em;
    }
    
}

@media (min-width: 320px) and (max-width: 344px) {
    
    .wrap p, .wrap li {
        font-size: 0.8em;
        line-height: 1.58em;
    }
    
    .wrap h1 {
        font-size: 1.4em;
    }
	
	.wrap h2 {
		font-size: 1.1em;
	}
	
	.wrap h3 {
		font-size: 0.8em;
		letter-spacing: 0.05em;
	}
	
	.wrap ul {
		margin-block-start: 0;
		padding-inline-start: 30px;
	}
	
	ul.ppt-file-list, 
	ul.video-file-list {
		margin-left: 0;
		padding-inline-start: 5px;
	}
    
    #header {
        min-height: 60px;
        padding: 30px;
    }
    
    .headerinfo img {
        position: absolute;
        height: 45px;
        top: 25px;
        margin: 0 32px 20px 0;
    }
    
    .logo-large {
        display: none;
    }
    
    .logo-small {
        display: initial;
    }
    
    .headertitle {
        max-width: calc(100% - 80px);
        margin: 80px 0 0 0;
        padding: 0;
        font-size: 1.6em;
        text-align: center;
    }
    
    nav {
        top: 0;
        right: 0;
        z-index: 5000;
    }
    
    a.header-nav-title {
        top: 20px;
        right: 20px;
        display: initial;
    }
    
    .wrap {
        width: calc(100% - 100px);
        padding: 0 50px;
        margin: 50px 0;
    }
    
    .main-page .main-page-image,
	.main-page .main-page-image img {
        height: 120px;
    }
    
    .main-page h2, .main-page p {
        padding: 0 5px;
    }
    
    .main-page h2 {
        font-size: 1.10em;
        padding-top: 0.5em;
    }
    
    .main-page p {
        padding-top: 0.5em;
        font-size: 0.8em;
        line-height: 1.45em;
    }
    
}